html{
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	border: 0;
	max-width: initial;
}
body{
	margin: 0 auto;
	font-family: Source Sans Pro;
	background-image: url('../img/sos.png');
	background-repeat: repeat;
	font-size: 16px
}
.navbar-default{
	border-radius: 0
}