.header{
	height: 150px
}
.info{
	background: url('../img/studygroup.webp');
	background-size: cover;
	font-size: 60px;
	color: white;
	text-align: center
}
.mast{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: rgba(0, 0, 0, 0.20);
	border-radius: 10px;
}
.signup{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px
}