.header{
	height: 100px
}
.headline{
	font-family: 'Oxygen';
	font-weight: bold;
	color: #C04405;
	font-size: 60px;
	padding-bottom: 0px
}
.tagline{
	font-size: 20px;
	text-align: center
}
/* Half Page Height Carousel Customization */
.carousel {
  height: 50%
}
.item,
.active,
.carousel-inner {
	height: 100%
}
.carousel-caption{
	text-align: center	
}

.fill {
	height: 500px;
	background-size: cover;
}
.slide1{
	background-image: url('../img/connect.webp');
}
.slide2{
	background-image: url('../img/share.webp');
}
.slide3{
	background-image: url('../img/enjoy.webp');
}
.input-group{
	width: 90%;
	margin: 0 auto
}
.mast{
	width: 30%;
	margin: 10px 10px;
	background-color: rgba(0, 0, 0, 0.40);
	border-radius: 10px
}
.google{
	margin: 0 auto;
	display: block;
	width: 100%;
	margin-top: 25px
}
.google-nav{
	width: 200px;
	text-align: center
}
.features{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 18px;
	text-align: center
}
.glyphicon{
	font-size: 60px;
	padding-bottom: 30px
}
/* Responsive Styles */
@media (max-width: 767px) {
	.carousel {
	  height: 70% /* increases the carousel height so it looks good on phones */
	}
}