.header{
	height: 160px
}
.headline{
	font-family: 'Fondamento', cursive;
	font-size: 72px;
	text-align: center;
	padding-bottom: 0px
}
.tagline{
	font-size: 20px;
	text-align: center
}
.info{
	background: url('../img/studygroup.webp');
	background-size: cover;
	font-size: 54px;
	color: white;
	text-align: center
}
/* Half Page Height Carousel Customization */
.carousel {
  height: 50%
}

.item,
.active,
.carousel-inner {
	height: 100%
}

.fill {
	width: 1366px;
	height: 400px;
	background-position: center;
	background-size: cover;
	background-image: url('../img/theback.png')
}

.mast{
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	text-align: center;
	margin: 10px 10px 10px 10px;
	background-color: rgba(0, 0, 0, 0.40);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px
}
.google{
	margin: 0 auto;
	display: block;
	width: 100%;
	padding-top: 20px
}
.google-nav{
	width: 200px;
	text-align: center
}
.features{
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 18px;
	text-align: center
}
.glyphicon{
	font-size: 60px;
	padding-bottom: 30px
}
/* Responsive Styles */
@media (max-width: 767px) {
	.carousel {
	  height: 70% /* increases the carousel height so it looks good on phones */
	}
}
